<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ralf.pet_provider">

    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <!-- 友盟AppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="597e9d91b27b0a3c04001052" />

        <meta-data android:value="umeng_chanal_1052"
            android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="UPDATE_APP_KEY"
            android:value="ab55ce55Ac4bcP408cPb8c1Aaeac179c5f6f" />

    </application>

</manifest>
